{% extends 'base.html.twig'%}
{% block title %} Content of the message {% endblock %}

 {% block body %}
 <ul>
 <li>
 {# <a href="{{path(thank-you.showNote, {id:32, slug:example-note})}}"></a> #}
 </li>

 </ul>

 {% endblock %}