{#permet d'ajouter un message après validation du form #}

{% for type, message in app.flashes%}
            <div class="alert-{{type}}">
                {{ message }}
            </div>
        {% endfor %}