{% extends 'base.html.twig'%}
{% block title %} Liste des messages {% endblock %}

 {% block body %}
 <ul>
 {% for message in messages%}
 <li>
 <a href="{{ path('message.showNote', {id:message.getId, slug:message.getSlug})}}">{{message.getTitle}}</a>
 </li>

{% endfor %}
 </ul>

 <a href="{{path('message.addNew')}}" class="btn btn-primary">Ajouter un message</a>

 {% endblock %}

 